# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.
*                            @confluentinc/cli

# Add docs team to commands where docs are managed
internal/cmd/**/command*.go  @joel-hamill
