bin/
dist/
legal/

# We auto-publish these to github.com/confluentinc/docs via CI and don't want them stored in this repo
docs/**/*.rst

.semaphore-cache/
git-setup-semaphore.sh

# Binaries for programs
*.exe
*.dll
*.so
*.dylib
.idea

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
vendor/*
!vendor/vendor.json

# Terraform stuff
*.tfstate*
terraform.d
.terraform/
.netrc

coverage.txt
ccloud_test
confluent_test
integ_coverage.txt
unit_coverage.txt
/ccloud
*.sw*
.vscode
**/*.DS_Store
