[Unit]
Description=Command Line Interface for managing Confluent Platform
Documentation=https://docs.confluent.io/current/cli/
After=network.target

[Service]
Type=simple
User=cp-cli
Group=confluent
Environment="LOG_DIR=/var/log/confluent/cli"
ExecStart=/usr/bin/confluent
TimeoutStopSec=180
Restart=no
